      html,body{height:100%;width:100%;margin:0;overflow:hidden;}
      #basemapslidercontainer {
        position: absolute;
        top: 150px;
        right: 10px;
        z-index: 1000;
      }

      #basemapslider{
        font-size:62.5%;
        margin: 14px;
        height: 125px;
        width:7px;
      }

      #map{
         width: 100%;
         height: 600px
      }